/*
* ----------------------------------------------------------------------------------------
Author       : Onepageboss
Template Name: GETX Onepage Business Template
Version      : 1.0

   ____                   _____                             ____     ____     _____    _____ 
  / __ \                 |  __ \                           |  _ \   / __ \   / ____|  / ____|
 | |  | |  _ __     ___  | |__) |   __ _    __ _    ___    | |_) | | |  | | | (___   | (___  
 | |  | | | '_ \   / _ \ |  ___/   / _` |  / _` |  / _ \   |  _ <  | |  | |  \___ \   \___ \ 
 | |__| | | | | | |  __/ | |      | (_| | | (_| | |  __/   | |_) | | |__| |  ____) |  ____) |
  \____/  |_| |_|  \___| |_|       \__,_|  \__, |  \___|   |____/   \____/  |_____/  |_____/ 
                                            __/ |                                            
                                           |___/                                             
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* 02.PRELOADER & BOUNCE CCS STYLE
* 03.HOMEPAGE CSS STYLE
* 04.SLIDER CSS STYLE
* 05.ABOUT CSS STYLE
* 06.SERVICE CSS STYLE
* 07.VIDEO CSS STYLE
* 08.TEAM CSS STYLE
* 09.WHY CHOOSE US CSS STYLE
* 10.WORK CSS STYLE
* 11.COMPLETE PROJECTS CSS STYLE
* 12.TESTIMONIAL CSS STYLE
* 13.PRICING CSS STYLE
* 14.GET STARTED CSS STYLE
* 15.BLOG CSS STYLE
* 16.MAP CSS STYLE
* 17.CONTACT CSS STYLE
* 18.FOOTER CSS STYLE
* 19.SINGLE BLOG PAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 01.GLOBAL STYLE
* ----------------------------------------------------------------------------------------
*/

body {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1px;
}

html,
body {
    height: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    -webkit-transition: .3s;
    transition: .3s;
    font-family: "Montserrat", sans-serif;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

img {
    width: 100%;
}

ul,
li {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}

.no-padding {
    padding: 0
}

.section-padding {
    padding: 60px 0
}

.section-title {
    margin-bottom: 50px;
    text-align: center;
}

.section-title h2 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    z-index: 1;
}

.section-title h2:before {
    position: absolute;
    content: "";
    height: 2px;
    width: 80px;
    left: 50%;
    top: 60px;
    text-align: center;
    z-index: -1;
    background: #FBBC05;
    margin-left: -40px;
}

.section-title h2:after {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 50%;
    top: 53px;
    text-align: center;
    z-index: -1;
    background: #FBBC05;
    margin-left: -7px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.read-more {
    display: inline-block;
    background: #FBBC05;
    color: #fff;
    padding: 6px 16px;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 10px;
}

.scrollup {
    height: 40px;
    width: 40px;
    font-size: 30px;
    color: #fff;
    text-align: center;
    background-color: #FBBC05;
    position: fixed;
    bottom: 30px;
    right: 30px;
    line-height: 35px;
    cursor: pointer;
    display: none;
    box-shadow: 0px 1px 4.7px 0.3px rgba(0, 0, 0, 0.24);
    z-index: 2;
}

.scrollup:hover {
    box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}


/*
* ----------------------------------------------------------------------------------------
* 02.PRELOADER & BOUNCE CCS STYLE
* ----------------------------------------------------------------------------------------
*/

.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -22px 0 0 -22px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 5px solid rgba(0, 0, 0, 0.08);
    border-right: 5px solid rgba(0, 0, 0, 0.08);
    border-bottom: 5px solid rgba(0, 0, 0, 0.08);
    border-left: 5px solid rgba(251, 188, 5, 1);
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*
* ----------------------------------------------------------------------------------------
* 03.HOMEPAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.header-top-information-area {
    background: #000;
    padding: 10px 0px;
}

.header-top-information-area p {
    color: #fff;
    margin: 0;
}

ul.header-social {
    padding: 0;
    margin: 0;
    text-align: right;
}

ul.header-social li {
    display: inline-block;
}

ul.header-social li a {
    background: #FBBC05;
    height: 30px;
    width: 30px;
    text-align: center;
    display: block;
    color: #fff;
    line-height: 30px;
}

ul.header-social li a:hover {
    border-radius: 50%;
}

.header-top-area {
    background: #fff;
    position: relative;
    padding: 5px 0px;
    z-index: 999;
    -webkit-transition: .3s;
    transition: .3s;
}

.is-sticky {
    width: 100%;
    z-index: 999;
    position: absolute;
    -webkit-transition: .3s;
    transition: .3s;
}

.is-sticky .logo {
    padding-top: 15px;
}

.is-sticky .header-top-area {
    box-shadow: 0 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}

.is-sticky .mainmenu .navbar-nav li a {
    padding: 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.welcome-image-area {
    position: relative;
    background: url(../images/bg/publicidad.jpg);
    background-size: cover;
    z-index: 1;
    text-align: center;
    padding: 200px 0px;
}

.parallax-bg {
    background: url(../images/bg/publicidad.jpg);
    background-size: cover;
    z-index: 1;
}

.welcome-image-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.welcome-image-area h2,
.welcome-video-area h2 {
    color: #f8f8f8;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0;
}

.welcome-image-area p,
.welcome-video-area p {
    color: #f8f8f8;
    padding: 0px 120px;
}

.logo {
    padding-top: 28px;
}

.logo a {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    color: #FBBC05;
    letter-spacing: 3px;
}

.mainmenu .navbar-nav li a {
    color: #333;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: 600;
}

.mainmenu .navbar-nav li a:hover {
    background: none;
    color: #FBBC05;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: #FBBC05;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

a.slide-btn {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    background: #FBBC05;
    margin-top: 20px;
    width: 160px;
    border-radius: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
}

a.slide-btn:hover {}


/*
* ----------------------------------------------------------------------------------------
* 04.SLIDER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-slide-item-table {
    display: table;
    width: 100%;
}

.single-slide-item-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.single-slide-item {
    position: relative;
    z-index: 1;
    text-align: center;
    padding: 200px 0px;
}

.single-slide-item:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.single-slide-item h2 {
    color: #f8f8f8;
    font-size: 50px;
    letter-spacing: 5px;
    margin: 0;
}

.single-slide-item p {
    color: #f8f8f8;
    padding: 0px 120px;
}

.slide-1 {
    background: url(../images/bg/publicidad.jpg) scroll 0 0;
    background-size: cover;
}

.slide-2 {
    background: url(../images/bg/web.jpg) scroll 0 0;
    background-size: cover;
}

.slide-3 {
    background: url(../images/bg/diseño.jpg) scroll 0 0;
    background-size: cover;
}

.carousel-fade .carousel-inner .item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
    filter: alpha(opacity=100);
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.welcome-slider-control {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 30px;
    margin-top: -50px;
    left: 30px;
    z-index: 99;
    background: #FBBC05;
    height: 40px;
    width: 30px;
    line-height: 40px;
    padding-left: 10px;
}

.welcome-slider-control.right {
    right: 30px;
    left: auto;
}

#welcome-slide-carousel.carousel-fade .carousel-control {
    z-index: 2;
}

.text-slider-control {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 30px;
    margin-top: -50px;
    left: 30px;
    z-index: 99;
    background: #FBBC05;
    height: 40px;
    width: 30px;
    line-height: 40px;
    padding-left: 0px;
}

.text-slider-control.right {
    right: 30px;
    left: auto;
}


/*
* ----------------------------------------------------------------------------------------
* VIDEO BACKGROUND CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.welcome-video-area {
    position: relative;
    background-size: cover;
    z-index: 1;
    text-align: center;
    padding: 200px 0px;
}

.welcome-video-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}


/*
* ----------------------------------------------------------------------------------------
* 05.ABOUT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.about-us-area {
    padding-top: 80px;
    padding-bottom: 60px;
}

.about-image-area {
    margin-top: 33px;
}

.about-text {
    margin-top: 30px;
}

.about-text h4 {
    margin-bottom: 18px;
}

.about-text h4 span {
    color: #FBBC05;
}

.about-text p {
    margin-bottom: 18px;
}


/*
* ----------------------------------------------------------------------------------------
* 06.SERVICE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.service-area {
    background: #F0F0F0;
}

.single-service {
    background: #fff;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.single-service i {
    color: #FBBC05;
    font-size: 50px;
    line-height: 95px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.single-service p {
    margin-top: 20px;
}


/*
* ----------------------------------------------------------------------------------------
* 07.VIDEO CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.video-area {
    padding: 150px 0px;
    background: url(../images/video-bg.jpg);
    position: relative;
    background-size: cover;
    z-index: 1;
}

.video-area:after {
    position: absolute;
    background: rgba(0, 0, 0, .8);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}

.video-area-text h2 {
    color: #fff;
    font-size: 18px;
}

.video-area-text i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    line-height: 55px;
    text-align: center;
    padding-left: 8px;
    background: #FBBC05;
}

.mfp-iframe-holder {
    padding-top: 80px;
}


/*
* ----------------------------------------------------------------------------------------
* 08.TEAM CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.team-area {}

.single-team {
    margin-top: 30px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    text-align: center;
    padding: 10px;
}

.single-team img {
    width: 100%;
}

.single-team h4 {
    margin-top: 30px;
}

.single-team p {
    margin: 20px 0;
}

.team-social ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.team-social ul li {
    display: inline-block;
}

.team-social ul li a {
    background: #FBBC05;
    height: 30px;
    width: 30px;
    text-align: center;
    display: block;
    color: #fff;
    line-height: 30px;
}

.team-social ul li a:hover {
    border-radius: 50%;
}


/*
* ----------------------------------------------------------------------------------------
* 09.WHY CHOOSE US CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.why-chosse-image {
    margin-top: 30px;
}

.why-choose-us-text {
    margin-top: 30px;
}

.panel-default .panel-heading {
    background-color: #fff;
    color: #fff;
    font-size: 16px;
    padding: 16px;
}

.panel-group .panel + .panel {
    margin: 0;
    border: none;
    border-bottom: 0px;
}

.panel-group .panel {
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
}

.panel-body {
    border-radius: 0;
    line-height: 2;
    padding: 30px;
}

.panel-heading {
    border-radius: 0px
}

.panel-title a {
    color: #333;
    display: block;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.panel-title a:after {
    content: "\f067";
    font: 18px fontAwesome;
    float: left;
    margin-right: 25px;
    margin-top: 2px;
}

.panel-title a:after {
    content: "\f068";
    font: 18px fontAwesome;
    float: left;
    margin-right: 25px;
    background: #FBBC05;
    color: #fff;
    height: 49px;
    width: 49px;
    margin-left: -16px;
    margin-top: -16px;
    line-height: 55px;
    text-align: center;
}

.panel-title a.collapsed:after {
    content: "\f067";
    font: 18px fontAwesome;
    float: left;
    margin-right: 25px;
    background: #FBBC05;
    color: #fff;
    height: 49px;
    width: 49px;
    margin-left: -16px;
    margin-top: -16px;
    line-height: 55px;
    text-align: center;
}


/*
* ----------------------------------------------------------------------------------------
* 10.WORK CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.work .second-page-title {
    margin-bottom: 50px;
}

.work .filters {
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
}

.work .filters ul {
    padding: 0;
}

.work .filters li {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px;
    color: #FBBC05;
    border: 1px solid #FBBC05;
    cursor: pointer;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.work .filters li:hover {
    color: #FBBC05;
    border: 1px solid #FBBC05;
    -webkit-transition: .3s;
    transition: .3s;
}

.work .filters li.active {
    border: 1px solid #FBBC05;
    color: #fff;
    background-color: #FBBC05;
}

.single {
    padding: 100px 0 80px 0;
}

.single-close {
    position: absolute;
    top: 40px;
    right: 70px;
}

.single-close .ham {
    display: block;
    width: 24px;
    height: 24px;
}

.single-close .ham:before,
.single-close .ham:after {
    position: absolute;
    content: '';
    display: inline-block;
    width: 23px;
    height: 2px;
    outline: 1px solid transparent;
    left: 0;
    background-color: #FBBC05;
}

.single-close .ham:before {
    -webkit-transform: translateY(12px) rotateZ(-45deg);
    transform: translateY(12px) rotateZ(-45deg);
}

.single-close .ham:after {
    -webkit-transform: translateY(12px) rotateZ(45deg);
    transform: translateY(12px) rotateZ(45deg);
}

.single .images,
.single .content {
    padding: 0;
}

.single .content .project-title h3 {
    font-size: 17px;
    line-height: 1.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #303030;
    margin-top: 0;
}

.single .content .project-title p {
    color: #000;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
}

.single .content .project-description {
    margin-top: 30px;
}

.single .content .project-description p {
    font-size: 14px;
    line-height: 26px;
    color: #818181;
    font-weight: 400;
}

.single .content .project-services h4,
.single .content .project-share h4,
.single .content .navigation h4 {
    color: #303030;
    font-size: 17px;
    line-height: 26px;
    font-weight: 500;
}

a.visit {
    display: inline-block;
    padding: 8px 20px;
    text-transform: uppercase;
    background: #FBBC05;
    color: #fff;
    margin-top: 20px;
    text-decoration: none;
    font-size: 12px;
    letter-spacing: 1px;
}

.single-post-control {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 30px;
    margin-top: -25px;
    background: #FBBC05;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 52px;
}

.single-post-control.right {
    right: 0px;
    left: auto;
}


/*
* ----------------------------------------------------------------------------------------
* 11.COMPLETE PROJECTS CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.project-complete-area {
    background: #000;
}

.single-project-complete {
    margin-top: 30px;
    text-align: center;
}

.single-project-complete h2 {
    font-size: 40px;
    margin: 20px 0px;
    font-weight: 400;
    color: #fff;
}

.single-project-complete i {
    font-size: 42px;
    color: #FBBC05;
}


/*
* ----------------------------------------------------------------------------------------
* 12.TESTIMONIAL CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.testimonial-area {
    background: #EFEFEF;
}

.testimonial-list {
    padding: 30px;
    margin-top: 30px;
}

.single-testimonial img {
    width: 120px;
}

.single-testimonial {
    padding: 0px 100px;
}

.single-testimonial h6 {
    margin-top: 20px;
}

.single-testimonial h5 {
    font-style: italic;
}

.rating ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.rating ul li {
    display: inline-block;
}

.rating ul li i {
    color: #FBBC05;
}

.owl-theme .owl-controls {
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 25px;
    height: 6px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    border-radius: 10px;
    background: #FBBC05;
}


/*
* ----------------------------------------------------------------------------------------
* 13.PRICING CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.pricing-area {}

.pricing-box {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    border: 1px dotted #F0F0F0;
    margin-top: 30px;
}

.pricing-box.active .plan-price {
    color: #00BCD4;
}

.pricing-header .plan-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.pricing-header .plan-price {
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 10px;
    color: #FBBC05;
    background: #F0F0F0;
    display: inline-block;
    height: 100px;
    border-radius: 50%;
    width: 100px;
    line-height: 100px;
}

.plan-features {
    margin-top: 40px;
    border-top: 1px dotted #ccc;
}

.plan-features li {
    margin: 10px 0;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 15px;
}


/*
* ----------------------------------------------------------------------------------------
* 14.GET STARTED CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.get-started {
    background: #000;
}

.get-text {
    color: #fff;
}

.get-text h2 {}

.get-text p {
    padding: 0px 100px;
}


/*
* ----------------------------------------------------------------------------------------
* 15.BLOG CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.blog-area {
    background: #EFEFEF;
}

.single-blog {
    margin-top: 30px;
    border-radius: 3px;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.single-blog:hover {}

.single-blog h4 {
    color: #3F3333;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin: 20px 0px;
}

.single-blog h4:hover {
    color: #00BCD4;
}


/*
* ----------------------------------------------------------------------------------------
* 16.MAP CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.map {
    height: 485px;
    border: 1px solid rgba(238, 238, 238, 0.65);
    margin-top: 30px;
    border-radius: 3px;
}


/*
* ----------------------------------------------------------------------------------------
* 17.CONTACT CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.footer-top-area {
    background: #F0F0F0;
}

.contact-form {
    margin-top: 30px;
}

.single-contact i {
    font-size: 30px;
    color: #FBBC05;
}

.single-contact {
    margin-bottom: 40px;
}

.contact-details {
    text-align: center;
}

.contact-form input {
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 50px;
    border-radius: 0px;
    font-size: 18px;
}

.contact-form textarea {
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 200px;
    border-radius: 0px;
    resize: none;
    font-size: 18px;
}

.contact-form input[type='submit'] {
    color: #fff;
    background: #FBBC05;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif;
    -webkit-transition: all 0.4s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.success {
    background: #50B948 none repeat scroll 0 0;
    color: #fff;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}


/*
* ----------------------------------------------------------------------------------------
* 18.FOOTER CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-footer h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-menu ul li {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid #FBBC05;
}

.footer-menu ul li a {
    color: #232328;
    text-transform: uppercase;
    display: block;
    font-size: 12px;
    padding-bottom: 5px;
}

.footer-menu ul li a:hover {
    color: #FBBC05;
}

.footer-bottom-area {
    background: #000;
    padding: 30px 0px
}

.single-recent-post {
    margin-bottom: 10px;
}

.single-recent-post img {
    width: 50px;
}

.single-recent-post a {
    color: #333;
    font-size: 14px;
}

.footer-text p {
    color: #fff;
}

.footer-text p span {
    color: #FBBC05;
}

.footer-text p i {
    color: #E0000D;
    margin-left: 10px;
}

.footer-social-link {}

.footer-social-link ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.footer-social-link ul li {
    display: inline-block;
    margin: 0px 3px;
}

.footer-social-link ul li a {
    background: #FBBC05;
    height: 30px;
    width: 30px;
    text-align: center;
    display: block;
    color: #fff;
    line-height: 30px;
}

.footer-social-link ul li a:hover {
    border-radius: 50%;
}


/*
* ----------------------------------------------------------------------------------------
* 19.SINGLE BLOG PAGE CSS STYLE
* ----------------------------------------------------------------------------------------
*/

.single-page-heading-area {
    background: #000;
    padding-top: 70px;
    padding-bottom: 50px;
}

.single-blog-heading-text h4 {
    color: #f8f8f8;
}

.single-blog-heading-text h4 a {
    color: #f8f8f8;
}

.comment-section {
    margin-top: 30px;
}

.single-blog-details,
.comment-section,
.single-sidebar {
    border-radius: 3px;
    padding-top: 30px;
}

.search input {
    border: 1px solid #e3e8f0;
    box-shadow: none;
    color: #333;
    height: 50px;
    border-radius: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.single-sidebar,
.recent-single {
    margin-bottom: 30px;
}

.single-blog-details h4 {
    margin: 20px 0px;
}

.single-comment {
    margin-bottom: 20px;
}

.single-comment img {
    width: 120px;
}

.recent-single h4 {
    color: #333333;
}

.categories {}

.categories ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.categories ul li {
    margin-bottom: 10px;
    color: #333333;
}

.categories ul li a {
    color: #333333;
}
.butn-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	left:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.butn-float:hover {
  color: #f0f0f0;
}

.butn-float .my-float{
  margin-top: 15px;
  margin-left: 2px;
}